<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Invites</h1>

  <h2>Attendees (<%=@acceptance_count%>)</h2>
  <ul>
    <% @acceptances.each do |name| %>

      <li><%=name%></li>
    <%end%>
  </ul>

  <h2>Apologies (<%=@rejection_count%>)</h2>
  <ul>
    <% @rejections.each do |name| %>
      <li><%= name %></li>
    <%end%>
  </ul>


</body>
</html>